* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 50px;
}

.container {
  display: flex;
  margin: 20px auto;
}

i {
  padding: 20px;
  font-size: 50px;
  margin: 10px 20px;
}
.container i:hover {
  transform: scale(2.1);
}

button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
}
