* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to left, #eeaeca, #94bbe9);
}

h1 {
  text-align: center;
  margin: 50px;
}

.container {
  display: flex;
  margin: 20px auto;
}

i {
  padding: 20px;
  font-size: 70px;
  margin: 10px 20px;
}
.container i:hover {
  transform: scale(2.1);
}

button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

.results {
  align-self: center;
  display: flex;
  margin: 10px;
  padding: 30px;
}
.score {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #fff;
  width: 300px;
  margin: auto;
  font-size: 1.7rem;
  padding: 20px;
  gap: 20px;
}
